{% extends "base.html" %}
{% block content %}
{% load static %}

<div>
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
                         {% for sld in slider%}
                         {% if forloop.counter == 1 %}
						 <div class="item active">
						 {% else %}
						 <div class="item">
						 {% endif%}
						 <div class="col-sm-6">
									<h1><span>{{sld.title}}</span></h1>
									<h2>{{sld.sub_title}}</h2>
									<p>{{sld.describe}}</p>
									<button type="button" class="btn btn-default get">Get it now</a>
								</div>
								<div class="col-sm-6">
									<img src="media/{{ sld.image_1 }}" class="girl img-responsive" alt="" />
									{% comment %} <img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" /> {% endcomment %}
								</div>
							</div>
						{% endfor%}
							

						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div  class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							

						
                            
							<div class="panel panel-default">
								<div class="panel-heading">
									
								</div>

							</div>
							


						</div><!--/category-products-->
				
						
						<div class="price-range"><!--price-range-->
						
						</div><!--/price-range-->
					</div>
				</div>



				<div class="col-sm-9 padding-right">
					<div id="product" class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
					<div id="productList"><!--features_items-->
					{% for item in product %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="media/{{ item.image }}" alt="" />
											<h2>{{item.price}}₹</h2>
											<p>{{item.product_name}}</p>
											<a href="/detail?id={{item.id}}"   class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Shop now</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
											<h2>{{item.price}}₹</h2>
											<h2>{{item.user_id}}</h2>
											
											<p>{{item.product_name}}</p>
												<a href="/detail?id={{item.id}}"  class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Shop now</a>
											</div>
										</div>
										{% if item.is_sale_available == 1  %}
						            	<img src="{% static 'images/home/sale.png' %}" class="new" alt="" />
                                       {% endif %}
                                   {% if item.is_new_stock == 1  %}
									<img src="{% static 'images/home/new.png' %}" class="new" alt="" />
                                       {% endif %}
									   </form>


								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
					{% endfor %}
					</div>

					</div><!--features_items-->
				
				</div>
			</div>
		</div>
	</section>
	</div>


{%endblock%}